<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr" xml:lang="fr">

<head>
    <title>Exercice sécurité</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="https://www.cegepgarneau.ca/favicon.ico" />
    <link rel="stylesheet" href="/static/css/styles.css" />
</head>

<body>
    <header>
        <h1>Exercice sécurité</h1>
    </header>
    <main>


        <!-- TODO : Section à protéger !! -->
        <section>
            <h2>Contenu protégé</h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quid turpius quam sapientis vitam ex
                insipientium
                sermone pendere? Bonum integritas corporis: misera debilitas. Sapientem locupletat ipsa natura, cuius
                divitias Epicurus parabiles esse docuit. Quae in controversiam veniunt, de iis, si placet, disseramus.
                Illa
                argumenta propria videamus, cur omnia sint paria peccata. An hoc usque quaque, aliter in vita? Duo
                Reges:
                constructio interrete. </p>

            <p>Cum id quoque, ut cupiebat, audivisset, evelli iussit eam, qua erat transfixus, hastam. Quod autem
                ratione
                actum est, id officium appellamus. Age nunc isti doceant, vel tu potius quis enim ista melius? Re mihi
                non
                aeque satisfacit, et quidem locis pluribus. </p>

            <p>Sit enim idem caecus, debilis. Invidiosum nomen est, infame, suspectum. </p>

            <p>Illud non continuo, ut aeque incontentae. Bonum negas esse divitias, praeposìtum esse dicis? Ut in
                geometria,
                prima si dederis, danda sunt omnia. Idemne potest esse dies saepius, qui semel fuit? Quae quidem
                sapientes
                sequuntur duce natura tamquam videntes; Ab his oratores, ab his imperatores ac rerum publicarum
                principes
                extiterunt. Virtutibus igitur rectissime mihi videris et ad consuetudinem nostrae orationis vitia
                posuisse
                contraria. Effluit igitur voluptas corporis et prima quaeque avolat saepiusque relinquit causam
                paenitendi
                quam recordandi. Etenim nec iustitia nec amicitia esse omnino poterunt, nisi ipsae per se expetuntur. In
                eo
                enim positum est id, quod dicimus esse expetendum. </p>

            <p>Portenta haec esse dicit, neque ea ratione ullo modo posse vivi; Teneo, inquit, finem illi videri nihil
                dolere. Quare hoc videndum est, possitne nobis hoc ratio philosophorum dare. Sed potestne rerum maior
                esse
                dissensio? Si enim ita est, vide ne facinus facias, cum mori suadeas. Quorum sine causa fieri nihil
                putandum
                est. Nondum autem explanatum satis, erat, quid maxime natura vellet. Quid enim est a Chrysippo
                praetermissum
                in Stoicis? </p>
        </section>



    </main>
</body>

</html>